[submodule "actor"]
	path = packages/actor
	url = git@github.com:php-architecture-kit/actor.git

[submodule "clock"]
	path = packages/clock
	url = git@github.com:php-architecture-kit/clock.git

[submodule "domain-core"]
	path = packages/domain-core
	url = git@github.com:php-architecture-kit/domain-core.git

[submodule "event-dispatcher"]
	path = packages/event-dispatcher
	url = git@github.com:php-architecture-kit/event-dispatcher.git

[submodule "graph"]
	path = packages/graph
	url = git@github.com:php-architecture-kit/graph.git

[submodule "uuid"]
	path = packages/uuid
	url = git@github.com:php-architecture-kit/uuid.git
